@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #ffffff;
    --purple: #8a57de;
    --purple-light: #a78bfa;
    --black: #2d313d;
    --green: #3dca93;
    --bg-purple: #f7f9fe;
  }

  * {
    position: relative;
    font-family: "DM Sans", sans-serif;
    line-height: 125%;
  }

  html,
  body {
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  .sub1,
  .sub2,
  .sub3,
  .sub4,
  .display {
    font-family: "Poppins", sans-serif;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 36px;
  }

  a {
  }

  section {
    @apply py-16 lg:py-28;
  }

  .layout {
    @apply px-2 sm:px-4 max-w-7xl md:px-2 md:mx-auto;
  }

  .layout-grid-2 {
    @apply grid gap-8 grid-cols-1 md:grid-cols-2;
  }

  .layout-grid-3 {
    @apply max-w-7xl px-2 md:mx-auto grid gap-8 grid-cols-1 md:grid-cols-3;
  }

  .layout.margin {
    @apply mx-8 sm:mx-16;
  }

  .sub1 {
    font-size: 24px;
  }

  .sub2 {
    font-size: 20px;
  }

  .sub3 {
    font-size: 18px;
  }

  .sub4 {
    font-size: 16px;
  }

  .display {
    font-size: 44px;
  }

  .body1 {
    font-size: 24px;
  }

  .body2 {
    font-size: 20px;
  }

  .body3 {
    font-size: 16px;
  }

  .bg-waves {
    content: "";
    position: absolute;
    background-image: url(/bg/waves.svg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btn {
    @apply sub2 text-green-600 bg-white py-2 px-6 inline-block border-white border-2;
    outline: none !important;
    transition: 0.5s;
  }

  .btn:disabled{
    @apply bg-green-200 hover:bg-green-200;
  }

  .btn:focus {
    outline: none !important;
  }

  .btn:hover {
    @apply bg-green-600 text-white border-white border-2;
  }

  .btn:active {
    @apply bg-green-900;
  }

  .btn.btn-green {
    @apply sub2 bg-green-600 text-white border-green-600;
  }

  .btn.btn-green:hover {
    @apply bg-green-700;
  }

  .btn.btn-green:active {
    @apply bg-green-900;
  }

  .btn.btn-green-light {
    @apply sub2 bg-green-500 text-white border-green-500;
  }

  .btn.btn-green-light:hover {
    @apply bg-green-700;
  }

  .btn.btn-green-light:active {
    @apply bg-green-900;
  }

  .btn.round {
    border-radius: 999px;
  }

  .btn-lg {
    @apply sub1 py-3 px-10;
  }

  .btn-sm {
    @apply sub3 py-2 px-1 text-base;
  }

  .btn.btn-outline {
    border: 2px solid white;
    background: transparent;
    color: white;
  }

  .shadow-green {
    box-shadow: 0px 2px 16px rgba(10, 156, 118, 0.5), 0px 4px 40px rgba(10, 156, 118, 0.5);
  }

  .shadow-gray {
    box-shadow: 0px 4px 32px rgba(1, 16, 40, 0.12);
  }

  .waves {
    overflow: hidden;
  }
  .waves::before {
    content: "";
    position: absolute;
    background-image: url(/patterns/waves-2.svg);
    top: 0px;
    left: 100px;
    bottom: 0;
    transform: rotate(-26.13deg);
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .slide {
    border: red;
  }

  .slider {
  }

  .bg-gray-100.slider::before {
    background: none;
  }

  .bg-gray-100.slider::after {
    background: none;
  }

  .slider::before {
    @apply hidden md:block;
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    z-index: 1;
  }

  .slider::after {
    @apply hidden md:block;
    content: "";
    position: absolute;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
  }

  .slider.no-shadow .slider::before,
  .slider.no-shadow .slider::after {
    content: none !important;
  }

  .bg-gray-100 .slider::before {
    background: linear-gradient(to right, rgba(245, 246, 249, 1) 0%, rgba(245, 246, 249, 0) 100%);
  }
  .bg-gray-100 .slider::after {
    background: linear-gradient(to left, rgba(245, 246, 249, 1) 0%, rgba(245, 246, 249, 0) 100%);
  }

  .slick-arrow {
    z-index: 10;
  }

  .w-50vw {
    width: 50vw;
  }
  .w-40vw {
    width: 40vw;
  }
  .w-30vw {
    width: 30vw;
  }
  .w-20vw {
    width: 2s0vw;
  }

  .book-hero {
    height: 100vh;
  }

  .font-poppins {
    font-family: "Poppins", sans-serif;
  }

  .font-dmsans {
    font-family: "DM Sans", sans-serif;
  }
  
}

@layer utilities {
    .pb-10 {
      padding-bottom: 10rem !important;
  }
  .floue{
    height: 220px;
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#93B1D6 100%);
    position: relative;
    margin-top: -220px;
}
  
}